<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>차량 정보 입력</h3>
    <form action="/carinfo/input2" method="post">
        <input type="hidden" name="id" value="{{c.id}}">
        <input type="hidden" name="car_num" value="{{c.car_num}}">
        <input type="hidden" name="car_buy_price" value="{{c.car_buy_price}}">
        <input type="hidden" name="car_company" value="{{c.car_company}}">
        <input type="hidden" name="car_name" value="{{c.car_name}}">
        <input type="hidden" name="car_year" value="{{c.car_year}}">
        <input type="hidden" name="car_buytime" value="{{c.car_buytime}}">
        <input type="hidden" name="car_km" value="{{c.car_km}}">
        <input type="hidden" name="car_fuel" value="{{c.car_fuel}}">
        <input type="hidden" name="car_gear" value="{{c.car_gear}}">
        <input type="hidden" name="car_size" value="{{c.car_size}}">
        <input type="hidden" name="car_sellarea" value="{{c.car_sellarea}}">
        <input type="hidden" name="car_cc" value="{{c.car_cc}}">
        <input type="hidden" name="car_color" value="{{c.car_color}}">

        체납횟수:<input type="number" name="car_tax_count">회<br/>
        압류횟수:<input type="number" name="car_seize_count">회<br/>
        저당횟수:<input type="number" name="car_security_count">회<br/>
        사고횟수:<input type="number" name="car_accident_count">회<br/>
        침수횟수:<input type="number" name="car_flood_count">회<br/>
        용도이력변경횟수:<input type="number" name="car_change_using_count">회<br/>
        사용자변경횟수:<input type="number" name="car_change_owner_count">회<br/>
        전손이력:
        <input type="radio" name="car_broken" value=1>있음
        <input type="radio" name="car_broken" value=0 checked="checked">없음<br/>
        <input type="submit" value="다음단계"><br/>
    </form>
</body>
</html>